<main>

  <div id="navbar" class="navbar navbar-fixed">
    <nav>
      <div id="navcontent" class="container">
        {{#link-to 'index'}}
          <img height=64 src="https://upload.wikimedia.org/wikipedia/commons/1/18/Database.svg" />
        {{/link-to}}
        {{link-to 'Just the Norm' 'index' class='brand-logo'}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          <li>
            <a class="dropdown-button" data-activates="github-dropdown">
              {{fa-icon "github" size="lg"}} GitHub<i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Dropdown Structure -->
    <ul id="github-dropdown" class="dropdown-content">
      <li>
        <a href="https://github.com/selbyk/fdAlgos.js">
          <i class="material-icons left">settings_ethernet</i> Algorithms
        </a>
      </li>
      <li>
        <a href="https://github.com/selbyk/normalize-webapp">
          <i class="material-icons left">input</i> Webapp
        </a>
      </li>
    </ul>
  </div>
<div class="wrapper">
  {{outlet}}
{{md-modal-container}}
<footer class="page-footer footer">
  <div class="footer-copyright ">
    <div class="container bold">
      © 2015{{year}} <a href="https://selby.io">Selby Kendrick</a>
      <a class="right" href="https://selby.io">https://selby.io</a>
    </div>
  </div>
</footer>
  </div>
</main>
